<div class="m-lg-3">
    <div class="row justify-content-between">
        <div class="col-auto">
            <h3 [translate]="'iDashboard.MyStudyPrograms'"></h3>
        </div>
        <div *ngIf="timetableExists && currentRegistration" class="col-auto">
            <a class="btn btn-pill btn-outline-secondary float-right mr-lg-5" [routerLink]="['/events']"
                [translate]="'iDashboard.Schedule'"></a>
        </div>
    </div>
    <div class="border-right mt-3 pr-lg-4">
        <!--pre-loading state-->
        <div class="card mb-3" *ngIf="isLoading">
            <div class="card-body">
                <div class="ph-col-12">
                    <div class="ph-row">
                        <div class="ph-col-8 big"></div>
                    </div>
                    <div class="ph-row">
                        <div class="ph-col-8 big"></div>
                    </div>
                    <div class="ph-row">
                        <div class="ph-col-2 big"></div>
                        <div class="ml-4 ph-col-4 big"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--end pre-loading state-->
        <div *ngIf="linkProfiles">
            <div class="card mb-3" *ngFor="let linkProfile of linkProfiles"> <!-- LOOP WITH CARDS -->
                <div class="card-body">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-9">
                                    <button [disabled]="linkProfile.rel === 'canonical'" (click)="select(linkProfile)"
                                        class="dropdown-item" href="#">
                                        <div style="white-space: pre-wrap">{{linkProfile.title}}</div>
                                        <small>{{linkProfile.description}}</small>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <a *ngIf="course?.courseClass?.eLearningUrl != null && course?.courseClass?.eLearningUrl.length > 0"
                                        class="btn btn-outline-secondary rounded-pill btn-more btn-block my-4"
                                        [translate]="'iDashboard.eLearning'"
                                        title="{{'iDashboard.eLearning' | translate}}"
                                        href="{{ course?.courseClass?.eLearningUrl }}" target="_blank"
                                        rel="noopener noreferrer"></a>
                                    <span
                                        *ngIf="course?.courseClass?.eLearningUrl == null || course?.courseClass?.eLearningUrl.length===0"
                                        class="btn btn-outline-secondary rounded-pill btn-more btn-block my-4 disabled"
                                        [translate]="'iDashboard.eLearning'" [tooltip]="elearningTooltip"
                                        placement="top"></span>
                                    <ng-template #elearningTooltip>
                                        <div [translate]="'iDashboard.eLearningUrlNullMessage'"
                                            class="text-secondary font-sm"></div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isLoading === true && linkProfiles && linkProfiles.length === 0">
            <div class="card">
                <div class="card-body">
                    <p class="card-text" [translate]="'iDashboard.StudyProgramsNotFound'"></p>
                </div>
            </div>
        </div>
    </div>
</div>