<ng-template #templateSendRequest>
  <div class="modal-body text-center pb-0 pt-0">
    <!--   <div>
         <img src="assets/img/register_success_136x136.png" >
       </div>-->
    <h5 class="modal-title pt-3" > {{ this.requestType.name }}</h5>
        <div *ngIf="foundRequestType" class="pt-2" [translate]="'DownloadPdf'"></div>
        <div *ngIf="foundReport" class="pt-2" [translate]="'DownloadReportPdf'"></div>
  </div>
  <div class="modal-footer">
    <button *ngIf="foundRequestType" type="button" class="btn btn-outline-secondary btn-ok" data-dismiss="modal" [translate]="'Send'" (click)="sendRequest(this.requestType);  closeModal()"></button>
    <button *ngIf="foundReport" type="button" class="btn btn-outline-secondary btn-ok" data-dismiss="modal" [translate]="'Print'" (click)="printReport(this.requestType);  closeModal()"></button>
    <button type="button" class="btn btn-outline-secondary btn-ok" data-dismiss="modal" [translate]="'Cancel'" (click)="closeModal()"></button>
  </div>
</ng-template>

<!-- Template for the error modal. Used when the request fails -->
<ng-template #templateFail>
  <div class="modal-body text-center pb-0 pt-0">
    <div>
      <img src="assets\img\register_general_error_136x136.png">
    </div>
    <h4 class="modal-title text-center mt-2" [translate]="'Requests.genericError'"></h4>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-cancel"
      (click)="closeModal()"
      [translate]="'Modals.close'"
    ></button>
  </div>
</ng-template>


<ng-template #tooltipText><div [translate]="'NotAvailableFeature.Print'" class="text-secondary font-xs"></div></ng-template>
<div *if-location="'/registrations'" class="dropdown text-right float-right">
  <button *ngIf="!availableRequestType" class="btn btn-light disabled d-none d-md-block" [tooltip]="tooltipText"
          placement="left"
          type="button" id="dropdownMenuButton">
    <span  class="mr-4-5" [translate]="foundRequestType? 'Receive' : 'PrintTranscript'"></span>
  </button>
  <button *ngIf="!availableRequestType" type="button" [tooltip]="tooltipText" placement="left"
          class="disabled d-sm-block d-md-none col-sm-1 justify-content-end btn btn-primary  pt-2">
    <i class="fas fa-file-pdf-o d-block d-md-none  fa-lg"></i>
  </button>
  <button *ngIf="availableRequestType" type="button" (click)=" openModal(this.templateSendRequest)"
          class="d-sm-block d-md-none col-sm-1 justify-content-end btn btn-primary  pt-2">
    <i class="fas fa-file-pdf-o d-block d-md-none  fa-lg text-light"></i>
  </button>
  <button *ngIf="availableRequestType" (click)=" openModal(this.templateSendRequest)"
          class="btn btn-light  d-none d-md-block"
          type="button">
    <span class="mr-4-5" [translate]="foundRequestType? 'Receive' : 'PrintTranscript'"></span>
  </button>
</div>

